<div class="carousel-container mx-auto my-8">
  <div class="carousel-wrapper overflow-hidden relative">
    <div
      class="carousel-inner flex transition-transform duration-500 ease-in-out"
      [style.transform]="transformStyle"
    >
      <div
        *ngFor="let movie of movies"
        class="movie-card flex-shrink-0 w-1/3 px-2"
      >
        <div class="movie-content bg-gray-800 text-white p-4 rounded-lg transform hover:scale-105 transition duration-300 h-96 overflow-hidden">
          <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
               [alt]="movie.title"
               class="movie-poster w-full h-64 object-fit-cover" />
          <h3 class="mt-2 text-lg font-bold">{{ movie.title }}</h3>
          <p>Rating: {{ movie.vote_average }}</p>
        </div>
      </div>
    </div>

    <button
      (click)="prevSlide()"
      class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-blue-600 text-white p-2 rounded-full hover:bg-blue-700"
    >
      ◀
    </button>
    <button
      (click)="nextSlide()"
      class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-blue-600 text-white p-2 rounded-full hover:bg-blue-700"
    >
      ▶
    </button>
  </div>
</div>
