<div class="container mx-auto px-4 py-8">
  <div class="mb-4 flex items-center gap-4">
    <input [(ngModel)]="searchQuery"
           (input)="onSearchInput()"
           type="text"
           placeholder="Buscar películas"
           class="px-4 py-2 border rounded w-full lg:w-full" />
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <div *ngFor="let movie of popularMovies" class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col m-2">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}" class="w-full h-64 object-contain">
      <div class="p-4 flex-grow">
        <h2 class="text-xl font-bold">{{ movie.title }}</h2>
        <p class="text-gray-600">{{ movie.overview | slice:0:100 }}...</p>
        <span class="text-gray-500">Rating: {{ movie.vote_average }}</span>
      </div>
      <div class="mt-4 flex justify-between gap-4 p-4">
        <button (click)="openModal(movie)" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 w-full sm:w-auto">
          <i class="fas fa-info-circle"></i>
        </button>
        <button (click)="addToFavorites(movie)" class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 w-full sm:w-auto">
          <i class="fas fa-heart"></i>
        </button>
      </div>
    </div>
  </div>


  <div *ngIf="selectedMovie" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div class="bg-white rounded-lg p-6 w-11/12 md:w-1/2">
      <h2 class="text-xl font-bold">{{ selectedMovie.title }}</h2>
      <p>{{ selectedMovie.overview }}</p>
      <button (click)="closeModal()" class="mt-4 bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600">
        <i class="fa fa-window-close"></i> Cerrar
      </button>
    </div>
  </div>
</div>
